<h2>Welcome <%= current_user.name %></h1>
<%= link_to "Add a New Performance", new_user_performance_path(current_user) %>

<h3>Performances</h3>
<% current_user.performances.each do |performance| %>
    <div><%= link_to performance.title, user_performance_path(current_user, performance) %></div>
<% end %>


