<h2>Welcome <%= @user.name %></h1>

<%#= link_to "Home Page", root_path %>

<%= link_to "Add a New Performance", new_user_performance_path(current_user) %>
<br><br>
<h3>Your Performances</h3>
<% current_user.performances.each do |performance| %>
    <div><%#= link_to performance.title, performance_path(performance) %></div>
    <div><%#= link_to performance.title, "/users/#{performance.user_id}/performances/#{performance.id}" %></div>
    <div><%#= link_to performance.title, user_performance_path(performance.user.name, performance.title) %></div>
    <%# binding.pry %>
    <div><%= link_to performance.title, user_performance_path(current_user, performance) %></div>
<% end %>
<br><br>
<%#= form_tag logout_path, method: "delete" do %>
    <%#= submit_tag "Logout" %>
<%# end %>
