<div>
    <%= link_to performance.title.titleize, nested ? user_performance_path(performance.user, performance) : performance_path(performance) %>
     - <%= performance.start_date.strftime("%B %e") %> 
</div>
