<!-- can't figure out how to make dynamic path and render partial in different views. -->

<!--div>
    <%#= link_to performance.title.titleize, self.send("#{path}", object, user) %>
     - <%#= performance.start_date.strftime("%B %e") %> 
</div-->

<!-- Do not need to iterate over performances for other views using this partial to display this information, rails automatically knows to iterate through an array depending on what's passed into render as an argument -->
<%# performances.each do |p| %>
    <div>
        <%= link_to performance.title.titleize, performance_path(performance) %>
         - <%= performance.start_date.strftime("%B %e") %> 
    </div>
<%# end %>
<%# end %>